header {
    background-color: dodgerblue;
    color: black;
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
    padding: 16px;
    border: 5px solid green;
}

main {
    background-color: cadetblue;
    color:black;
    max-width: 800px;
    margin: 0 auto;
    padding: 16px;
    display: flex;
}